@use "./base.scss";

// put your custom CSS here!
@font-face {
  font-family: "NY";
  src: url("./static/fonts/NewYorkSmall-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NY";
  src: url("./static/fonts/NewYorkSmall-RegularItalic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "NY";
  src: url("./static/fonts/NewYorkSmall-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "NY";
  src: url("./static/fonts/NewYorkSmall-BoldItalic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "NY-BL";
  src: url("./static/fonts/NewYorkSmall-Black.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-family: "NY-BL", serif;
}

.page article h1 {
  font-family: "NY-BL", serif;
  margin-bottom: -0.5em !important;
}

h2 {
  font-family: "NY", serif;
  margin-top: 1em !important;
  margin-bottom: -0.5em !important;
}

h3 {
  font-family: "NY", serif;
  margin-top: 1em !important;
  margin-bottom: -0.5em !important;
}

h4, h5, h6 {
  font-family: "NY", serif;
  margin-bottom: -0.5em !important;
}

body {
  font-family: "NY", serif;
}

// anino cds
.page-title a {
  font-family: "NY-BL", serif;
  font-size: 1.8rem;
}

// committee font
.sidebar .explorer a {
  font-family: "NY", serif;
  font-weight: bold;
}

// committee dropdown size
.explorer a {
  font-size: 0.90rem;
}

// documentation link
.external a {
  font-family: "NY", serif;

}

/* Breadcrumbs (Home > Committee) */
.breadcrumb-container a {
  font-family: "NY", serif;
}

th, a.internal, strong, li {
  font-family: "NY", serif;
}

table {
  width: 95%;
  table-layout: fixed;   /* lets columns size naturally but still span full width */
  border-collapse: collapse;
  margin-bottom: 0.5rem !important;
}

table th, table td {
  font-family: "NY", serif;
  padding: 0.3em;
  word-wrap: break-word;
  white-space: normal;
  line-height: 1.5;
}

.table-container, em {
  font-family: "NY", serif;
}

.callout-title {
  font-family: "NY", serif;
  margin-bottom: -1em !important;
}

p {
  font-family: "NY", serif;
}

.markdown-preview-view hr {
  margin-block-end: 3em;
}

/* Center Mermaid diagrams */
.mermaid {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* Optional: limit width so they don't overflow */
.mermaid > svg {
  display: inline-block;
  max-width: 100%;
  height: auto;
}